<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login/Signup Form</title>
  <link rel="stylesheet" href="../static/css/login.css">
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
  <style>
    .alert.error {
      color: #fff;
      background: #ff4d4d;
      padding: 10px;
      border-radius: 5px;
      margin-bottom: 15px;
      position: absolute;
      top: 20px;
      right: 20px;
    }
  </style>
</head>

<body>
  <div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      <div id="flash-messages">
        {% for category, message in messages %}
        <div class="alert {{ category }}">
          {{ message }}
        </div>
        {% endfor %}
      </div>
      {% endif %}
      {% endwith %}
    <div class="form-box login" style="width: 100%;">
      
      <form action="/admin/login" method="POST">
        <h1>Login</h1>
        <div class="input-box">
          <input type="email" name="email" placeholder="Email" required />
          <i class="bx bxs-user"></i>
        </div>
        <div class="input-box">
          <input type="password" name="password" placeholder="Password" required />
          <i class="bx bxs-lock-alt"></i>
        </div>

        <button type="submit" class="btn" style="width: 20%;">Login</button>

      </form>
    </div>

    <script src="../static/js/login.js"></script>
    <script>
      setTimeout(() => {
        const flashBox = document.getElementById('flash-messages');
        if (flashBox) {
          flashBox.style.animation = "fadeOut 1s forwards";  
          setTimeout(() => flashBox.remove(), 1000); 
        }
      }, 3000);
    </script>
</body>

</html>