
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Website </title>

    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

<!-- header section starts      -->
<header>
 <a href="index.html" class="logo"><i class="fas fa-utensils"></i>resto.</a>

    <nav class="navbar">
        <a href="/">home</a>
        <a href="/dishes">dishes</a>
        <a href="#">about</a>
        <a class="active" href="/menu">menu</a>
        <a href="review.html">review</a>
        <a href="order.html">order</a>
    </nav>

    <div class="icons">
        <i class="fas fa-bars" id="menu-bars"></i>
        <i class="fas fa-search" id="search-icon"></i>
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-shopping-cart"></a>
        <a href="login.html" class="fas fa-user"></a>
    </div>
</header>

<!-- Header Section ends-->

<!-- search form -->
<form action="" id="search-form">
    <input type="search" placeholder="search here..." name="" id="search-box">
    <label for="search-box" class="fas fa-search"></label>
    <i class="fas fa-times" id="close"></i>
</form>

<!-- menu section starts  -->

<section class="menu" id="menu">

    <h3 class="sub-heading"> our menu </h3>
    <h1 class="heading"> today's speciality </h1>

    <div class="day-selector">
    <label for="menu-day">Select Day:</label>
    <select id="menu-day">
        <option value="monday">Monday</option>
        <option value="tuesday">Tuesday</option>
        <option value="wednesday">Wednesday</option>
        <option value="thursday">Thursday</option>
        <option value="friday">Friday</option>
        <option value="saturday">Saturday</option>
        <option value="sunday">Sunday</option>
    </select>
</div>

    <div class="box-container" id="menu-container">


    </div>

</section>

<!-- menu section ends -->

<!-- footer section start -->

<section class="footer">

    <div class="box-container">

        <div class="box">
            <h3>locations</h3>
            <a href="#">Helsinki</a>
            <a href="#">Vanta</a>
            <a href="#">Espoo </a>
            <a href="#">Kaunian</a>
            <a href="#">Hamelinna</a>
        </div>

        <div class="box">
            <h3>quick links</h3>
            <a href="#">home</a>
            <a href="#">dishes</a>
            <a href="#">about</a>
            <a href="#">menu</a>
            <a href="#">reivew</a>
            <a href="#">order</a>
        </div>

        <div class="box">
            <h3>contact info</h3>
            <a href="#">+358402457337</a>
            <a href="#">+358449314564</a>
            <a href="#">olisagarsandesh@gmail.com</a>
            <a href="#">mahendragautamsharma@gmail.com</a>
            <a href="#">Kirstintie 30 C, Espoo , 02760/a>
        </div>

        <div class="box">
            <h3>follow us</h3>
            <a href="#">facebook</a>
            <a href="#">twitter</a>
            <a href="#">instagram</a>
            <a href="#">linkedin</a>
        </div>

    </div>

    <div class="credit"> copyright @ 2025 by <span> Backlol team</span> </div>

</section>

<!--footer section end-->
<script src="{{ url_for('static', filename='js/menu.js') }}"></script>

</body>

</html>
